.character-search {
    text-align: center;
    margin: 20px;
  }
  
  .character-search input {
    padding: 8px;
    width: 250px;
    margin-right: 10px;
  }
  
  .character-search button {
    padding: 8px 15px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  .character-details {
    margin-top: 20px;
  }
  
  .character-details img {
    width: 200px;
    height: auto;
    border-radius: 10px;
  }

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
  